.loginHolder{
    background-color: #000;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoHolder{
    height:10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:15px
}
.logoHolder img{
    width: 150px;
    height:26px;
}
.cardHolder{
    border: 1px solid rgba(255, 255, 255, 0.14);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.02));
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.14), inset 0 -1px 1px rgba(0, 0, 0, 0.65);
    border-radius: 16px;
    padding: 16px 16px 10px 16px;
    width: 580px;
}
.topText{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 10px;
    text-align: center;
}
.buttonArea{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nextBtn{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-color: green;
    background: transparent;
    color: #fff;
    height: 42px;
    cursor: pointer;
    width:50%;
}
.resetBtn{
    height: 42px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: transparent;
    color: #fff;
    cursor: pointer;
    width:50%;
}
.emailHead{
    font-size: 12px;
    color: #cbd5e1;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left:2px;
}
.emailTag{
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 0 12px;
    outline: none;
    font-size: 14px;
    margin:0px 0px 10px 0px;
}
.cardBottomText{
    font-size: 12px;
    color: #9ca3af;
    text-align: center;
    line-height: 1.6;
    white-space: pre-line;
    margin-top:10px
}
.nextBtn:hover{
    background-color: #16a34a;
    box-shadow: 0 0 25px rgba(22, 163, 74, .55);
}
.resetBtn:hover{
    background: rgba(255, 255, 255, 0.10);
}
.asterikColor{
    color: #ef4444;
}
.errorMessage{
    color:#ef4444;
    padding-bottom:10px;
}